PROJECT_NAME=${PROJECT_NAME}
DEVICE_ID=${DEVICE_ID}
MQTT_HOST=${MQTT_HOST}
MQTT_PORT=${MQTT_PORT}
MONITORING_ENABLED=${MONITORING_ENABLED}
SECURITY_ENABLED=${SECURITY_ENABLED}
DEVICE_TOKEN=${DEVICE_TOKEN}
